In [ ]:
STRING METHODS - String Methods are builtin programmes readily available in Python to use

In [ ]:
1- 'type'Method - Type Method is used to check the datatype used in the code

In [ ]:
    Example:

In [1]:
name="Nithya"
print(name)
type(name)

Nithya

str

In [ ]:
2- 'title'Method - Title Method is uesd to capitalize the first letter of every word capital ie,to standardize a sentence

In [ ]:
    Example:

In [3]:
name = "arun kumar"
print(name)

arun kumar

In [ ]:
Standardizing the name format using title method

In [4]:
name = "arun kumar"
print(name.title())

Arun Kumar

In [ ]:
3- 'upper'Method - Upper Method is used to change the string to uppercase

In [ ]:
    Example:

In [8]:
name = "Happy Birthday"
print(name.upper())

HAPPY BIRTHDAY

In [ ]:
4- 'lower'Method - Lower Method is used to change the string to lowercase

In [ ]:
    Example:

In [7]:
message = "Happy Birthday"
print(message.lower())

happy birthday

In [ ]:
f Strings - General Synatax: f" custom message {placeholder1} {placeholder2}....{placeholder...n}"
          - Individual words can be joined together to get a full string using f strings
          - Custom message is message that can be added before a string using f strings eg:Excellent work, Priya Gandhi

In [ ]:
   Example:

In [12]:
firstname = "Priya "
lastname = "Gandhi"
full_name = f"{firstname}{lastname}"
print(full_name)

Priya Gandhi

In [ ]:
Custom Message Included Example:

In [14]:
message = f"Excellent Work,{full_name}"
print(message)

Excellent Work,Priya Gandhi

In [ ]:
ADDING WHITE SPACES TO STRINGS

In [ ]:
\n - NEW LINE DELIMITER (To print the string line by line)

In [ ]:
    Example:

In [15]:
print("Student_Names: Aariv Veda Priya Shiva Meera Mithra" )

Student_Names: Aariv Veda Priya Shiva Meera Mithra

In [ ]:
Line by line Display using \n

In [16]:
print("Student_Names:\n Aariv\n Veda\n Priya\n Shiva\n Meera\n Mithra")

Student_Names:
 Aariv
 Veda
 Priya
 Shiva
 Meera
 Mithra

In [ ]:
\t -TAB DELIMITER(To make a tab space before lines)

In [ ]:
    Example:

In [18]:
print("Student_Names:\n\t Aariv\n\t Veda\n\t Priya\n\t Shiva\n\t Meera\n\t Mithra")

Student_Names:
	 Aariv
	 Veda
	 Priya
	 Shiva
	 Meera
	 Mithra