In [ ]:
ORGANISING THE LIST DATATYPE

In [1]:
Students = ['Ammu','veda','Asna','Jinu','Rafi','Anu']
print(Students)

['Ammu', 'veda', 'Asna', 'Jinu', 'Rafi', 'Anu']

In [ ]:
To print the name 'veda 'from the list:

In [2]:
print(Students[1])

veda

In [ ]:
To print the name 'veda in a standard format':

In [3]:
print(Students[1].title())

Veda

In [ ]:
TO PRINT A LIST IN ALPHABETICAL ORDER WE HAVE TWO APPROACHES:
    1- TEMPORARY APPROACH > SORTED:HERE WE CAN RETAIN THE ORGINAL ORDER OF THE LIST
    2- PERMANENT APPROACH > SORT  :HERE CHANGES ARE APPLIED PERMANENTLY SO THAT WE CANNOT RETAIN THE ORGINAL ORDER OF THE LIST

In [ ]:
SORTED

In [7]:
Cars = ['Kia','Bmw','Skoda','Ciaz','Benz']
print(Cars)

['Kia', 'Bmw', 'Skoda', 'Ciaz', 'Benz']

In [8]:
print(sorted(Cars))

['Benz', 'Bmw', 'Ciaz', 'Kia', 'Skoda']

In [9]:
print(Cars)

['Kia', 'Bmw', 'Skoda', 'Ciaz', 'Benz']

In [ ]:
The orginal order is maintained here .

In [ ]:
SORT

In [12]:
Cars.sort()
print(Cars)

['Benz', 'Bmw', 'Ciaz', 'Kia', 'Skoda']

In [13]:
print(Cars)

['Benz', 'Bmw', 'Ciaz', 'Kia', 'Skoda']

In [ ]:
The orginal order is changed permanently by using SORT

In [ ]:
What is the difference between Sorted & Sort method in a list?
    
          Both Sorted & Sort methods are used to arrange the List in alphabetical order.The difference is that in Sorted the
list is changed temporarly and the orginal list is maintained.But in Sort the list is changed permanently in alphabetical 
order.

In [ ]:
TO PRINT THE LIST IN REVERSE ORDER WE USE reverse() METHOD

In [14]:
print(Cars)

['Benz', 'Bmw', 'Ciaz', 'Kia', 'Skoda']

In [15]:
Cars.reverse()
print(Cars)

['Skoda', 'Kia', 'Ciaz', 'Bmw', 'Benz']

In [ ]:
TO COUNT THE NUMBER OF ELEMENTS PRESENT IN THE LIST WE USE len() method

In [16]:
len(Cars)

5

In [ ]:
SLICING OF THE LIST DATATYPE:
    GENERAL SYNTAX: print(list(startvalue:stopvalue:stepcount))
    START VALUE > Start Value is the index number of the first element in the list that we have to print first
    STOP VALUE  > Stop Value is the index value of the last element +1.
                  Stop Value is always exclusive .So inorder to include stop value in the printed list we have to increment 1.
    STEP COUNT  > Every step count numbered element will be eliminated from the List .For Eg: If the step count is 2,then every 
                  2 nd element will be eliminated from the list

In [17]:
print(Students)

['Ammu', 'veda', 'Asna', 'Jinu', 'Rafi', 'Anu']

In [ ]:
We have to include Ammu & Veda in a list:
    Index no: of Ammu is zero and that of veda is 1

In [19]:
print(Students[0:1])

['Ammu']

In [ ]:
Only Ammu is displayed because Stop value is always excuded .So we have to increment 1 ie, 0 & 1+1 =2

In [24]:
print(Students[0:2])

['Ammu', 'veda']

In [ ]:
To include Jinu & Rafi in a list:

In [25]:
print(Students[3:5])

['Jinu', 'Rafi']

In [ ]:
TO INCLUDE ALL ALTERNATE STUDENTS IN A LIST:
    HERE WE USE STEPCOUNT
    If we put stepcount as 2 then every 2 nd element in the list will be eliminated and alternate elements can be displayed
    Similarly if stepcount is 3 then every 3 rd element in the list will be eliminated

In [26]:
print(Students[0:6:2])

['Ammu', 'Asna', 'Rafi']

In [30]:
print(Students[0:6:3])

['Ammu', 'Jinu']

In [ ]:
I have a DOUBT: Every 3rd element should be eliminated when stepcount is 3 .Then Asna and anu should be eliminated 
                & Ammu ,Veda ,Jinu & Rafi should be printed right? Here only Ammu & Jinu is displayed.Why is it so?

In [31]:
print(Students)

['Ammu', 'veda', 'Asna', 'Jinu', 'Rafi', 'Anu']